@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminPersonas/AdminPersonas.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" />
    <title>Administración de personas</title>
    <!-- Estilos y funciones básicas de funcionamiento -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    <script src="~/ScriptsVistas/LogicaAdminPersonas.js"></script>

    <style>

        html, body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../Recursos/Imagenes/Fondo.jpg');
            background-size: cover;
            background-repeat: repeat;
            height: 100%;
            font-family: 'Numans', sans-serif;
        }

        .card-img-top {
            width: 140px;
        }

        .contenedor-imagen {
            width: 100%;
            text-align: center;
        }
    </style>



    <script>

        var urlObtenerTipoInquilino = '@Url.Action("ObtenerTipoInquilino", "AdminPersonas")';
        var urlInsertarPersona = '@Url.Action("InsertarPersona", "AdminPersonas")';
        

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
        });

    </script>
</head>
<body>
    <div @*class="modal fade"*@ id="modalMantenedorProductos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left:auto; margin-right:auto; width:40%; opacity:1; margin-top:2%">
        <div class="modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h3 class="modal-title" id="exampleModalLabel">
                        @*<img src="~/Recursos/Imagenes/LogoBackline.png" style="width: 50px" />*@
                        Administración de personas
                    </h3>
                </div>
                @*<img class="ui fluid image" src="~/Recursos/Imagenes/LogoEsyser_v2.png" />*@
            <div class="modal-body">
                <div class="image content">
                    <div class="ui info message">
                        <div class="header">
                            Atención
                        </div>
                        Debes completar los campos con la mayor exactitud posible.
                        <div class="ui divider"></div>
                        <div class="ui form">
                            <form>
                                <div class="two fields">
                                    <div id="divtxtRUT" class="field" style="width:30%">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RUT</font></font></label>
                                        <input id="txtRUT" type="text" placeholder="" autocomplete="off" style="text-transform:uppercase;">
                                    </div>
                                    <div id="divtxtFechaNacimiento" class="field" style="width:30%">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de nacimiento</font></font></label>
                                        <input id="txtFechaNacimiento" type="date" placeholder="" autocomplete="off">
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div id="divtxtNombreCompleto" class="field" style="width:100%">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre Completo</font></font></label>
                                        <input id="txtNombreCompleto" type="text" placeholder="" autocomplete="off">
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div id="divtxtCorreo" class="field" style="width:100%">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Correo</font></font></label>
                                        <input id="txtCorreo" type="text" placeholder="" autocomplete="off">
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div id="divtxtTelefono1" class="field">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Teléfono 1</font></font></label>
                                        <input id="txtTelefono1" type="text" placeholder="" autocomplete="off">
                                    </div>
                                    <div id="divtxtTelefono2" class="field">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Teléfono 2</font></font></label>
                                        <input id="txtTelefono2" type="text" placeholder="" autocomplete="off">
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="ui toggle checkbox">
                                        <input id="checkMovilidadReducida" name="checkMovilidadReducida" type="checkbox">
                                        <label>Movilidad Reducida</label>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="ui toggle checkbox">
                                        <input id="checkMenorEdad" name="checkMenorEdad" type="checkbox">
                                        <label>Menor de edad</label>
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div id="divcmbTipoInquilino" class="field">
                                        <label>Tipo de Inquilino</label>
                                        <select id="cmbTipoInquilino" name="cmbTipoInquilino" class="ui search selection dropdown">
                                        </select>
                                    </div>
                                    <div id="divtxtPiso" class="field">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Piso</font></font></label>
                                        <input id="txtPiso" type="number" placeholder="" autocomplete="off">
                                    </div>
                                    <div id="divtxtDepto" class="field">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Depto</font></font></label>
                                        <input id="txtDepto" type="number" placeholder="" autocomplete="off">
                                    </div>
                                    <div id="divtxtCasa" class="field">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Casa</font></font></label>
                                        <input id="txtCasa" type="number" placeholder="" autocomplete="off">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="divExito" class="ui icon hidden positive  message">
                    <i class="stopwatch icon"></i>
                    <div class="content">
                        <div class="header">
                            Éxito!!
                        </div>
                        <p>El registro fue guardado con éxito.</p>
                    </div>
                </div>
                <div id="divError" class="ui icon hidden negative message">
                    <i class="stopwatch icon"></i>
                    <div class="content">
                        <div class="header">
                            Error!!
                        </div>
                        <p>El registro no fue guardado.</p>
                    </div>
                </div>
                <div class="actions">
                    <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                        <i class="close icon"></i>
                        <div class="header">
                            Se han encontrado algunos problemas, revíselos...
                        </div>
                        <ul id="listMessajeError" class="list"></ul>
                    </div>
                </div>
                <br />
                <button id="btnGuardar" class="ui right labeled blue icon button" onclick="GuardarPersona();">
                    <i class="check circle icon"></i><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Guardar
                        </font>
                    </font>
                </button>
                <button id="btnVolver" class="ui right labeled red icon button" onclick="window.location.replace('/Home')">
                    <i class="home icon"></i><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Volver
                        </font>
                    </font>
                </button>
            </div>
            </div>
        </div>
    </div>
</body>
</html>